<h2>Enter games that you own or want to own:</h2>
<br>
<form method='post' action='/new'>
    <label>Title: </label>
    <input type='text' placeholder='Enter Title' name='title'>
    <br>
    <label>Developer: </label>
    <input type ='text' placeholder='Enter Developer' name='developer'>
    <br>
    <label>Release Date: </label>
    <input type='date' placeholder='Enter Release Date' name='date_purchased'>
    <br>
    <label>Description: </label>
    <input type='text' placeholder='Enter Short Description' name='description'>
    <br><br>
    <input type='submit' value='Create Listing'>
    <input type='reset'>
</form>