<a href='/signup' class="button">Sign Up</a> || <a href='/' class="button">Back to Homepage</a>
<br>
<h2>Log In to Your Account</h2>
<p>
    <form method='post' action='/login'>
        <table style='text-align: left'>
            <tr>
                <td><label>Username:</label></td>
                <td><input type='text' placeholder='Enter Username' name='username' required></td>
            </tr>
            <tr>
                <td><label>Email:</label></td>
                <td><input type='email' placeholder='Enter Email' name='email' required></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td><input type='password' placeholder='Enter Password' name='password' required></td>
            </tr>
        </table>
        <br><br>
        <input type='submit' value='Login'>
        <input type='reset'>
    </form>
</p>