<a href='/login' class="button">Login</a> || <a href='/' class="button">Back to Homepage</a>
<br>
<h2>Sign up!</h2>
<p>
    <form method='post' action='/signup'>
        <table style='text-align: left' width=100%>
            <tr>
                <td>Username:*</td>
                <td><input type='text' placeholder='Enter Username' name='username' required></td>
            </tr>
            <tr>
                <td>Email:*</td>
                <td><input type='email' placeholder='Enter Email' name='email' required></td>
            </tr>
            <tr>
                <td>Password:*</td>
                <td><input type='password' placeholder='Enter Password' name='password' required></td>
            </tr>
            <tr>
                <td>Confirm Password(minimum 5 characters long):*</td>
                <td><input type='password' placeholder='Confirm Password' name='password_confirmation' required></td>
            </tr>
        </table>
        <br><br>
        *: required
        <br><br>
        <input type='submit' value='Create Account'>
        <input type='reset'>
    </form>
</p>