<h2>Sign up!</h2>

<p>
    <form method='post' action='/signup'>
        <label>Username:</label><input type='text' placeholder='Enter Username' name='username'>
        <br>
        <label>Password:</label><input type='password' placeholder='Enter Password' name='password'>
        <br>
        <label>Confirm Password:</label><input type='password' placeholder='Confirm Password' name='confirm_password'>
        <br>
</p>