<h2>Video Game Collection Database</h2>
<p>
    <a href='/login' class='button' >Log In</a> || <a href='/signup' class='button' >Sign Up</a>
</p>
<p>
    <a href='/video_games/show_all' class='button'>All Games Created</a>
</p>