<!DOCTYPE html>
  <head>
    <title>Sinatra Project</title>
    <img src="images/corneal-small.png" class="img-responsive main-image">
  </head>
  <body>
    <div class="wrapper">

        <%= yield %>

    </div>
  </body>
</html>
