<!DOCTYPE html>
  <head>
    <title>Sinatra Project</title>
  </head>
  <body>
    <div class="wrapper">

        <%= yield %>

        <% flash.keys.each do |type| %>
          <div class="text-center alert alert-warning">
            <%= flash[type] %>
          </div>
        <% end %>

    </div>
  </body>
</html>
